.bgblue {
    background: linear-gradient(135deg, #fffffff5, #3a4b8a, #ffffff98);
    width: 80%; /* Adjusted width for better layout */
    max-width: 600px; /* Maximum width */
    margin: 0 auto 4rem; /* Added bottom margin */
    border-radius: 1.2rem;
    padding: 1px;
    
}

.card {
    font-size: 1.1rem;
    color: #bec4cf;
    background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
    padding: 1.5rem;
    border-radius: 1.2rem;
    
}

/* Using flexible box layout for responsiveness */

.bgblue {
    display: flex;
    justify-content: center;
}

.card {
    flex: 1;
    min-width: 300px; /* Minimum width */
}