.App {
    text-align: center;
  }
  
  #particles canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  @keyframes changeGradient {
    0% {
      border-image-slice: 1;
      border-image-width: 2px;
    }
    100% {
      border-image-slice: 1;
      border-image-width: 2px;
      border-image-transform: rotate(360deg);
    }
  }